@import url('https://fonts.googleapis.com/css?family=Lato');
body { background-color:#ffffff; }

h1 {font-family: 'Lato', sans-serif; sans-serif; color: black}

p {font-family: 'Lato', sans-serif; font-weight: bold; font-size: 24px;}
#slogan { font-style: italic; }
 {background-color: #707070; }